    <div class="container mx-auto p-4">
        <h1 class="text-3xl font-bold mb-4">Favorite Recipes</h1>
        <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
          <div *ngIf="favorites.length > 0">
            <div *ngFor="let favorite of favorites" class="bg-white shadow-md rounded-md overflow-hidden">
              <div class="relative">
                <img [src]="favorite.strMealThumb" alt="" class="w-full h-56 object-cover object-center">
                <a (click)="removeFromFavorites(favorite)" class="absolute top-2 right-2 text-sm text-red-500 cursor-pointer">Remove</a>
              </div>
              <div class="p-4">
                <h2 class="text-xl font-bold mb-2">{{ favorite.strMeal }}</h2>
                <p class="text-gray-600 mb-2">{{ favorite.strCategory }}</p>
                <div class="h-px w-16 bg-gray-300 mb-2"></div>
                <!-- Any other information you want to display -->
              </div>
            </div>
          </div>
          <div *ngIf="favorites.length === 0" class="col-span-3">
            <p class="text-lg text-gray-500 text-center">No favorite recipes found.</p>
          </div>
        </div>
      </div>
      