
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import "@angular/material/prebuilt-themes/indigo-pink.css";  
.text-center
{
    margin-left: auto;
}
.footer
{
    position: relative;
    top: 20%;
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";